@import "tailwindcss";
@source inline("tracking-longtitle !tracking-longtitle title-sm !title-sm");


:root {
  --background: #848581;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --tracking-longtitle: -0.5rem;
  --tracking-normal: 0.05rem;
  --text-8xl: 7.5rem;
  --text-9xl: 11.625rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #848581;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica Neue, Verdana, sans-serif;
}
h1{
  @apply text-9xl font-medium leading-40 tracking-[0.25rem];
}
h2, .subtitle, .caption{
  @apply text-6xl font-medium tracking-normal;
}
.caption{
  @apply font-light;
}

.title-sm{
  @apply text-8xl -tracking-[0.25rem] -mt-5 leading-36 mb-11;
}
.title-md{
  @apply text-[8.25rem] -tracking-[0.0125rem] -mt-5 leading-32 mb-11;
}
.title-2md{
  @apply text-[9rem] -tracking-[0.25rem] -mt-5 leading-36 mb-11;
}