@import "tailwindcss";

:root {
  --background: #848581;
  --foreground: #171717;
}
@theme {
  --text-9xl: 11.625rem;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #848581;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica Neue, Verdana, sans-serif;
}
h1{
  @apply text-9xl font-medium leading-40 tracking-tight;
}
h2, .subtitle{
  @apply text-6xl font-medium tracking-wider;
}